streamlit
google.generativeai
streamlit_extras
streamlit_timeline
streamlit_option_menu
langchain
langchain_google_genai
langchain_community
chromadb==0.4.0
python-dotenv
streamlit_pdf_viewer==0.0.7
streamlit_authenticator

 








